body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Aligns content at the top */
    height: 100vh;
    margin: 0;
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

canvas {
    width: 90%;
    max-width: 800px;
    border: 0;
    image-rendering: pixelated;
    margin-bottom: 20px;
    /* Add some space below the canvases */
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* Adds space between controls */
    margin-top: 20px;
}

#video,
#input,
#image {
    display: none;
}