body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Aligns content at the top */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

canvas {
    width: 90%;
    max-width: 800px;
    border: 2px solid #333;
    image-rendering: pixelated;
    margin-bottom: 20px;
    /* Add some space below the canvases */
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* Adds space between controls */
    margin-top: 20px;
}

#video,
#input,
#image {
    display: none;
}